.navbar-brand {
    font-weight: bolder !important;
    color:rgb(0, 0, 0) !important;

}

body {
  background-color: rgba(204, 196, 194, 0.655) !important;
}

.buttonNewCrime {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}

.deleteButton .bt-adm m-1d-flex justify-content-center align-items-center{
    padding: 0.1em;
}

.crimesList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

  @import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

h1,h2,h3,h4,h5,h6,p{
    font-family: 'Bangers';
}

.cardHero {
  display: flex;
  background-color: white !important;
  border: solid black 2px;
  margin: 0.5em;
  padding: 0.4em;
  width: 90%;
  height: 9em;
}

@media (min-width: 700px) {
    .cardHero {
        width: 70%
    }
}

.cardImg {
    width: 100%;
    height: 100%;
    max-width: 170px;
}

h5{
  font-size: 1.25em !important;
}

h6{
  font-size: 0.9em !important;
}

.cardBody {
    margin: 0.25em;
    font-size: smaller;
    max-height: 5em;
}

.text {
  max-height: 8em;
  font-size: smaller;
}

.text-warning .cardBody {
  display: flex;
  align-items: flex-end;
}

.card-title-text-primary {
    color: rgba(154, 0, 0, 0.599) ;
    -webkit-text-stroke: 1px rgb(28, 28, 28);
}

.card-title-text-danger {
    color: rgba(142, 0, 0, 0.818);
}

.card-title-text-white{
    color: rgb(105, 105, 105);
}

a {
    text-decoration: none !important;
}

.deleteButton {
    margin: 0px !important;
    padding: 0px !important;
}

.socialMedia {
    color: black;
    display:block;
    overflow:auto;
}

footer {
    background-color: rgb(105, 105, 105);
    display: flex;
    justify-content:space-around;
    padding: 20px;
}

.slider {
    padding: 40px 40px;
}

.slider__container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
}

.slider__body {
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    background-color: #f2f2f2;
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
    min-height: 300px;
    background-size: cover;
}
.slider__body--show {
    opacity: 1;
    pointer-events: unset;
  }
  
  .slider__texts {
    max-width: 350px;
    max-height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 30px;
    padding: 30px;
    box-shadow:
      inset 0 -3em 3em rgba(0,0,0,0.1),
            0 0  0 2px rgb(255,255,255),
            0.3em 0.3em 1em rgba(0,0,0,0.3);
  }
  
  .subtitle {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .slider__review {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.7;
  }
  
  .slider__img {
    width: 230px;
    height: 230px; 
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    /* height: fit-content !important; */
  }
  
  .slider__arrow {
    cursor: pointer;
    width: 90%;
  }
  
  .slider__arrow:nth-of-type(2) {
    justify-self: end;
  }

  @media (max-width: 390px) {
    .slider__body {
      grid-template-columns: 1fr;
      grid-template-rows: max-content 1fr;
      text-align: center;
    }

    .slider__picture {
      grid-row: 1/2;
    }

    .slider__img {
      width: 210px;
      height: 210px;
    }
        
    .about {
      max-width: 90%;
    }
  }
  
  @media (max-width: 425px) {
    .slider__container {
      grid-template-columns: 25px, 1fr 25px;
      text-align: center;
    }
  
    .slider__arrow {
      grid-row: 1/2;
    }
  
    .slider__img {
      width: 180px;
      height: 180px;
    }
  
    .subtitle {
      font-size: 2rem;
      margin-bottom: 15px;
    }
    .slider__review {
      font-size: 1rem;
      line-height: 1.6;
    }
  }