.cardHero {
    border-radius: 50%;
    border: solid 4px black;
}

body {
    background-color: black;
    color: black;
}

.socialMedia {
    color: black;
}

footer {
    background-color: aqua;
    display: flex;
    justify-content:space-around;
}

.socialMedia {
    display:block;
    overflow:auto;
}