/* Card */
h2,
h1 {
    padding: 0px 0px 15px 10px;
}

.boldy {
        font-weight: bolder;
}

.stroke {
    padding-right: 15px;
}

.showCard {
    border: solid black 3px;
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* Buttons  */
.btnContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cancelBtn {
    text-decoration: none;
    font-family: 'Bangers';
    font-size: 20px;
    background-color: #1669a4;
    border: solid 1px #1669a4;
    height: 41px;
    width: 85px;
} 

.inscribeBtn {
    text-decoration: none;
    font-family: 'Bangers';
    font-size: 20px;
    background-color: #16a422;
    border: solid 1px #16a422;
    height: 41px;
    width: 85px;
}

.unsubscribeBtn {
    color: black;
    text-decoration: none;
    font-family: 'Bangers';
    font-size: 20px;
    background-color: red;
    border: solid 1px red;
    margin-left: 15px;
    height: 41px;
    width: 80px;
}


