/* Card */
h2,
h1 {
    padding: 0px 0px 15px 10px;
}

.boldy {
    font-weight: bolder;
}

.showCard {
    border: solid black 3px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.boldy {
    font-weight: bolder !important;
}

/* Buttons  */
.btnContainerShow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancelBtn {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: #13eed4;
    height: 39px;
    width: 79px;
}
