a {
    color: black !important;
}

/* Card */
.card {
    padding: 20px;
    border-radius: 0% !important;
    border: solid 3px black !important;
}

.card-title {
    padding: 10px 0 20px 20px;
}

/* Inputs */
.input-group-text {
    font-weight: bold !important;
    padding: 5px;
    border-radius: 0% !important;
    border: solid 2px black !important;
    margin-left: 30px;
}

.form-control {
    padding: 5px;
    border-radius: 0% !important;
    border: solid 2px black !important;
    margin-right: 30px;
}

/* Buttons */
.btnContainer {
    display: flex;
    justify-content: space-around;
}

.btnBack {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cancelBtn {
    background-color: #13eed4;
    color: black;
    display: block;
    text-decoration: none;
    height: 39px;
    width: 79px;
}


.editBtn {
    font-family: 'Bangers';
    font-size: 20px;
    background-color: #16a422;
    border: solid 1px #16a422;
    height: 39px;
    width: 79px;
}
